<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration> 
 	<session-factory >
  		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  		<property name="hibernate.connection.password">5243FWF5344R</property>
 		<!-- <property name="hibernate.connection.url">jdbc:mysql://158.58.172.111:3306/eci_db</property> -->
		<property name="hibernate.connection.url">jdbc:mysql://212.237.23.231:3306/eci_db</property>
  		<property name="hibernate.connection.username">root</property>
  		<property name="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
  		<property name="hibernate.hbm2ddl.auto">update</property>
  
  		<mapping class="UtenteDTO" package="it.portalECI.DTO" resource="it/portalECI/hbm/UtenteDTO.hbm.xml"/>
  		<mapping class="CompanyDTO" package="it.portalECI.DTO" resource="it/portalECI/hbm/CompanyDTO.hbm.xml"/>
  		<mapping class="RuoloDTO" package="it.portalECI.DTO" resource="it/portalECI/hbm/RuoloDTO.hbm.xml"/>
  		<mapping class="PermessoDTO" package="it.portalECI.DTO" resource="it/portalECI/hbm/PermessoDTO.hbm.xml"/>
  
  		<mapping class="InterventoDTO" package="it.portalECI.DTO" resource="it/portalECI/hbm/InterventoDTO.hbm.xml"/>
  		<mapping class="StatoInterventoDTO" package="it.portalECI.DTO" resource="it/portalECI/hbm/StatoInterventoDTO.hbm.xml"/>
  		<mapping class="TipoVerificaDTO" package="it.portalECI.DTO" resource="it/portalECI/hbm/TipoVerificaDTO.hbm.xml"/>
  		<mapping class="CategoriaVerificaDTO" package="it.portalECI.DTO" resource="it/portalECI/hbm/CategoriaVerificaDTO.hbm.xml"/>
  		
  		<mapping class="OpzioneRispostaQuestionarioDTO" package="it.portalECI.DTO" resource="it/portalECI/hbm/OpzioneRispostaQuestionarioDTO.hbm.xml"/>
  		<mapping class="RispostaQuestionario" package="it.portalECI.DTO" resource="it/portalECI/hbm/RispostaQuestionario.hbm.xml"/>
  		<mapping class="DomandaQuestionarioDTO" package="it.portalECI.DTO" resource="it/portalECI/hbm/DomandaQuestionarioDTO.hbm.xml"/>
  		<mapping class="QuestionarioDTO" package="it.portalECI.DTO" resource="it/portalECI/hbm/QuestionarioDTO.hbm.xml"/>
  		<mapping class="TemplateQuestionarioDTO" package="it.portalECI.DTO" resource="it/portalECI/hbm/TemplateQuestionarioDTO.hbm.xml"/>
  		
  		<mapping class="OpzioneRispostaVerbaleDTO" package="it.portalECI.DTO" resource="it/portalECI/hbm/OpzioneRispostaVerbaleDTO.hbm.xml"/>
  		<mapping class="RispostaVerbaleDTO" package="it.portalECI.DTO" resource="it/portalECI/hbm/RispostaVerbaleDTO.hbm.xml"/>
  		<mapping class="DomandaVerbaleDTO" package="it.portalECI.DTO" resource="it/portalECI/hbm/DomandaVerbaleDTO.hbm.xml"/>
  		<mapping class="VerbaleDTO" package="it.portalECI.DTO" resource="it/portalECI/hbm/VerbaleDTO.hbm.xml"/>
  		<mapping class="StatoVerbaleDTO" package="it.portalECI.DTO" resource="it/portalECI/hbm/StatoVerbaleDTO.hbm.xml"/>
  		<mapping class="DocumentoDTO" package="it.portalECI.DTO" resource="it/portalECI/hbm/DocumentoDTO.hbm.xml"/>
  		<mapping class="ProgressivoVerbaleDTO" package="it.portalECI.DTO" resource="it/portalECI/hbm/ProgressivoVerbaleDTO.hbm.xml"/>
  		<mapping class="StoricoModificheDTO" package="it.portalECI.DTO" resource="it/portalECI/hbm/StoricoModificheDTO.hbm.xml"/>
  	
   		<mapping class="ColonnaTabellaQuestionarioDTO" package="it.portalECI.DTO" resource="it/portalECI/hbm/ColonnaTabellaQuestionarioDTO.hbm.xml"/>
  	
 	</session-factory>
</hibernate-configuration>
