<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration> 
 <session-factory >
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.password">root</property>
  <property name="hibernate.connection.url">jdbc:mysql://192.168.3.99:3306/eci_db</property>
  <property name="hibernate.connection.username">root</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
  <property name="hbm2ddl.auto">update</property>
  
  <mapping class="UtenteDTO" package="it.portalECI.DTO" resource="it/portalECI/hbm/UtenteDTO.hbm.xml"/>
  <mapping class="CompanyDTO" package="it.portalECI.DTO" resource="it/portalECI/hbm/CompanyDTO.hbm.xml"/>
  <mapping class="RuoloDTO" package="it.portalECI.DTO" resource="it/portalECI/hbm/RuoloDTO.hbm.xml"/>
  <mapping class="PermessoDTO" package="it.portalECI.DTO" resource="it/portalECI/hbm/PermessoDTO.hbm.xml"/>
  
  <mapping class="InterventoDTO" package="it.portalECI.DTO" resource="it/portalECI/hbm/InterventoDTO.hbm.xml"/>
  <mapping class="StatoInterventoDTO" package="it.portalECI.DTO" resource="it/portalECI/hbm/StatoInterventoDTO.hbm.xml"/>
  
     
 </session-factory>
</hibernate-configuration>
